@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: none;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style-type: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #FBF8CC;
	font-family: 'Poppins', sans-serif;
	color: #03045E;
}



/* navbar */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
	color: #03045E;
	width: 100%;
}

.logo {
	font-size: 24px;
	font-weight: 600;
	line-height: normal;
}

ul li a {
	font-size: 18px;
}

.menu ul {
	display: flex;
	gap: 60px;
}

.links ul {
	display: flex;
	gap: 30px;
}




/* header */

.header p {
	font-size: 28px
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 40px;
}

.header .container {
	align-items: center;
	display: flex;
}

.header {
	padding-top: 120px;
}

.heaerText {
	width: 60%;
}

.heaerText h1 {
	font-weight: 800;
	margin: 3px 0 6px 0;
	font-size: 90px
}

.header img {
	width: 40%;
}

button {
	background: transparent;
	border-color: #474306;
	border-width: 1PX;
	border-style: solid;
	border-radius: 6px;
	padding: 16px 38px 16px 38px;
	margin-top: 37px;
	cursor: pointer;
}

button:hover {
	background: #F5EE84;
}



/* section */

.section .container h1 {
	margin-top: 280px;
	color: #363636;
	font-weight: 800;
	font-size: 100px;
}

.section .container p {
	font-size: 24px;
	margin-top: 30px;
	line-height: 150%;
}

.section .container ul {
	margin: 145px 0 0 20%;
	list-style-type: disc;
}

.section .container ul li {

	font-size: 24px;
	line-height: 183%;
	margin-top: 80px;
}

.section .container ul li b {
	font-weight: bold;
	display: block;
}

/* section1*/

.section1 .container h1 {
	font-size: 100px;
	font-weight: 800;
	margin-top: 180px;
	color: #363636;
}

.section1 .container .resumeSection {

	background: #F5EE84;
}

.section1 .container .section-A {
	margin-top: 50px;
	color: #363636;
	text-align: center;
}

.section1 .container .section-A h1 {

	font-size: 21px;
	font-weight: 700;
	padding-top: 130px;
	padding-bottom: 40px;

}

.section1 .container .section-A .contact {
	display: flex;
	gap: 34px;
	justify-content: center;
}

.section1 .container .section-A .contact div {
	display: flex;
	gap: 10px;
}

.contact-links {
	display: flex;
	gap: 10px;
	justify-content: center;
	padding-top: 14px;
}

.contact-links a {
	border-color: #7C3AED;
	border-width: 1PX;
	border-style: solid;
	border-radius: 22px;
	padding: 8.531px 17.062px;
	gap: 4.266px;
	background: #F6F3FF;
}

/* section-B */

.section-B .container .working-experience {
	display: flex;
	justify-content: space-between;
	padding-top: 170px;
}

.section-B .container {
	color: #1C1C1C;
}

.section-B .container .exp1 {
	display: flex;
	/* justify-content: center; */
	gap: 10px;
	padding: 13px 25% 0 25%;
}

.section-B .container .exp1 span {
	border-width: 1PX;
	border-style: solid;
	border-radius: 7px;
	background: #000;
	color: #F5EE84;
	display: flex;
	padding: 8px;
}

.section-B .container .exp-A ul {
	padding: 9px 25% 0 25%;
}

.section-B .container .exp-A ul li {
	list-style-type: disc;
	font-weight: 400;
	line-height: 24px;
}

.section-B .container .Freelancing {
	display: flex;
	justify-content: space-between;
	padding: 22px 0 0 25%;
}

.section-B .container .exp2 {
	display: flex;
	gap: 10px;
	padding: 13px 25% 0 25%;
}

.section-B .container .exp2 span {
	border-width: 1PX;
	border-style: solid;
	border-radius: 7px;
	background: #000;
	color: #F5EE84;
	display: flex;
	padding: 8px;
}

.section-B .container .Portfolio {
	display: flex;
	gap: 145px;
	padding-top: 60px;
}

.section-B .container .exp3 {
	display: flex;
	gap: 10px;
	padding: 13px 25% 0 25%;
}

.section-B .container .exp3 span {
	border-width: 1PX;
	border-style: solid;
	border-radius: 7px;
	background: #000;
	color: #F5EE84;
	display: flex;
	padding: 8px;
}

.section-B .container .exp-B {
	padding: 5px 25% 60px 25%;
}

.section-B .container .Technologies {
	display: flex;
	gap: 175px;
	padding-top: 60px;
}

.section-B .container .exp4 {
	display: flex;
	gap: 10px;
	padding: 13px 25% 0 25%;
}

.section-B .container .exp4 span {
	border-width: 1PX;
	border-style: solid;
	border-radius: 7px;
	background: #000;
	color: #F5EE84;
	display: flex;
	padding: 8px;
}

.section-B .container .Tools {
	padding: 20px 25% 0 25%;
}

.section-B .container .exp5 {
	display: flex;
	gap: 10px;
	padding: 13px 25% 137px 25%;
}

.section-B .container .exp5 span {
	border-width: 1PX;
	border-style: solid;
	border-radius: 7px;
	background: #000;
	color: #F5EE84;
	display: flex;
	padding: 8px;
}

/* footer */
.footer .container {
	padding-bottom: 165px;
}

.footer .container h1 {
	padding: 140px 0 50px 0;
	font-size: 100px;
	font-weight: 800;
	color: #363636;
}

.footer .container .section1 {
	display: flex;
	justify-content: space-between;
	gap: 60px;
}

.footer .container .section1 p {
	font-size: 24px;
	font-weight: 400;
	line-height: 44px;
}